NODE_ENV=${NODE_ENV}
HOST=${HOST}
PORT=${PORT}
CC_NODE_VERSION=${CC_NODE_VERSION}
CC_NODE_BUILD_TOOL=${CC_NODE_BUILD_TOOL}
CC_NODE_DEV_DEPENDENCIES=${CC_NODE_DEV_DEPENDENCIES}
CC_PRE_RUN_HOOK=${CC_PRE_RUN_HOOK}
JWT_SECRET=${JWT_SECRET}
JWT_ACCESS_EXPIRY=${JWT_ACCESS_EXPIRY}
JWT_REFRESH_EXPIRY=${JWT_REFRESH_EXPIRY}
CORS_ORIGIN=${CORS_ORIGIN}
PHP_API_URL=${PHP_API_URL}
PHP_BASIC_AUTH=${PHP_BASIC_AUTH}
V1_AUTH_API_KEY=${V1_AUTH_API_KEY}
SIGNING_PROVIDER=${SIGNING_PROVIDER}
SWAGGER_HOST=${SWAGGER_HOST}
DOCUSIGN_INTEGRATION_KEY=${DOCUSIGN_INTEGRATION_KEY}
DOCUSIGN_USER_ID=${DOCUSIGN_USER_ID}
DOCUSIGN_ACCOUNT_ID=${DOCUSIGN_ACCOUNT_ID}
DOCUSIGN_PRIVATE_KEY=${DOCUSIGN_PRIVATE_KEY}
DOCUSIGN_BASE_PATH=${DOCUSIGN_BASE_PATH}
DOCUSIGN_WEBHOOK_SECRET=${DOCUSIGN_WEBHOOK_SECRET}
