NODE_ENV=${NODE_ENV}
HOST=${HOST}
PORT=${PORT}
CC_NODE_VERSION=${CC_NODE_VERSION}
CC_POST_BUILD_HOOK=${CC_POST_BUILD_HOOK}
PUBLIC_API_URL=${PUBLIC_API_URL}
PUBLIC_API_BROWSER_URL=${PUBLIC_API_BROWSER_URL}
PUBLIC_PHP_API_URL=${PUBLIC_PHP_API_URL}
PHP_BASIC_AUTH=${PHP_BASIC_AUTH}
PUBLIC_LEASE_SIGNING_ENABLED=${PUBLIC_LEASE_SIGNING_ENABLED}
